In [1]:
import pandas as pd
import re
import seaborn as sns
import os
import matplotlib.pyplot as plt
import requests
from lxml import html

In [2]:
df=pd.read_csv('data/happiness-2015.csv', encoding='latin')

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_average_yearly_temperature'
headers = {"User-agent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36'}
res = requests.get(url, headers=headers)
table = pd.read_html(res.content, encoding = 'utf8')
df2 = table[0]

In [4]:
df2

              Country Average yearly temperature (1961–1990 Celsius)
0        Burkina Faso                                          28.29
1                Mali                                          28.25
2            Kiribati                                          28.20
3            Djibouti                                          28.00
4            Maldives                                          28.00
..                ...                                            ...
187   Norway [note 1]                                          01.50
188           Iceland                                          −0.70
189  Denmark [note 2]                                          −3.70
190            Canada                                          −5.10
191            Russia                                          −5.35

[192 rows x 2 columns]